# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/
.tox/
test_reports/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Development
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
manifest/
**/salesforce-credentials.json
**/token-cache.json
logs/
*.log
temp/
Readme_*